$light-yellow: #ffe45e;
$light-pink: #ff6392;
$light-sky: #7fc8f8;
$light-blue: #5aa9e6;
$light-white: #f9f9f9;
$light-gray: #757575;

$black: #000000;
$white: #ffffff;

strong {
  background: $light-yellow;
  background-size: 100% 200%;
}

h2 {
  border-bottom: $light-sky 2px solid;
}

a {
  color: $light-blue;
  text-decoration: none;
  border-bottom: $light-blue 2px solid;
  &:hover {
    color: $light-pink;
  }
}

hr {
  border: none;
  height: 1px;
  background: $light-gray;
  background: repeating-linear-gradient(
    90deg,
    $light-gray,
    $light-gray 6px,
    transparent 6px,
    transparent 12px
  );
}

// class

.global-header {
  a {
    color: $black;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $light-pink;
    }
  }
}

.post-list-item {
  box-sizing: border-box;
  padding: 1rem 1.75rem;
  border: 3px solid transparent;
  border-radius: 0.625rem;
  background: #ffdede;
  &:hover {
    // box-shadow: 14px 14px 0 -4px $light-yellow;
    border: 3px solid #ffb84c;
  }
  h2 {
    border-bottom: none;
    font-family: "Jalnan";
    font-weight: 700;
    color: $black;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    a {
      color: $black;
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: $light-pink;
      }
    }
  }
}
